<%= render partial: 'header' %>
<div class="main-bg">
  <div class="container sign-up-container">
   <h5 class="center">Sign In </h5>
    <span class="big-error center"><%= flash["error"] %> </span>
    <%= form_tag %>
      <div class="row">
        <div class="col s12">
          <span class="label-font">Email</span>
          <%= email_field_tag :email, "", class: "input-field" %>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <span class="label-font">Password</span>
          <%= password_field_tag :password, "", class: "input-field", id:"signin-password" %>
        </div>
      </div>
      <div class="row">
        <div class="col s8">
        <%= submit_tag "Sign In", class: "btn blue"%>
        </div>
      </div>
      <div class="row">
        <div class="col s8">
        <span class="label-font"> Haven't got an account? <%= link_to "Sign Up", new_user_path %> </span>
        </div>
      </div>
  </div>
</div>
