<%= render partial: 'header' %>
<div class="container signup-container">
  <div class="signup-header">
    Sign In
    </div>
    <div class="row user-icon">
      <%= image_tag("user.png") %>
    </div>
  <% unless flash["error"].nil? %>
    <div class ="row my-fields">
      <%= flash["error"] %>
    </div>
    <% end %>
  <%= form_tag %>
  <div class="row my-fields">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <%= email_field_tag :email, "", class: "form-control", placeholder: "Email"%>
    </div>
  </div>
  <div class="row my-fields">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <%= password_field_tag :password, "", class: "form-control", id:"signin-password", placeholder: "Password"%>
    </div>
  </div>

  <div class="row my-fields">
   <%= submit_tag "Sign In", class: "btn btn-success" %>
  </div>
  <div class="row signup-down">
    <span class="label-font"> Haven't got an account? <%= link_to "Sign Up", new_user_path %> </span>
  </div>
</div>
<%= render partial: 'footer' %>
