<%= render partial: 'header' %>
<div class="container box">
  <div class="row all-flight">
    <div class="col s2">
       <span> Airline </span>
    </div>
    <div class="col s3">
      <span> From</span>
    </div>
    <div class="col s3">
        <span> To </span>
    </div>
     <div class="col s1">
      <span> Departure Date </span>
    </div>
    <div class="col s1">
      <span> Time </span>
    </div>
     <div class="col s1">
      <span> Duration </span>
    </div>
  </div>
  <% @flights.each do |flight| %>
  <div class="row my-flight">
    <div class="col s2">
       <%= flight.airline%>
    </div>
    <div class="col s3">
     <%= flight.departure.name%>, <%= flight.departure.location%>
    </div>
    <div class="col s3">
      <%= flight.arrival.name%>,  <%= flight.arrival.location%>
    </div>
     <div class="col s1">
      <%= flight.departure_date%>
    </div>
     <div class="col s1">
      <%= flight.duration%>hrs
    </div>
    <div class="col s1">
      <%= link_to root_path(:flight => flight.id, :passengers => 1) do %> <%= image_tag("fly.jpg") %> <% end %>
    </div>
  </div>
  <% end %>
  <%= render partial: 'pagenumber' %>
</div>
