<%= render partial: 'header' %>
  <div class="container box">
     <%= render partial: 'partials/flighthead' %>
    <% @flights.each do |flight| %>
    <div class="row my-flight">
      <div class="col-sm-2">
         <p><%= flight.airline%></p>
      </div>
      <div class="col-sm-3">
       <p><%= flight.departure.name%></p>
       <p><%= flight.departure.location%></p>
      </div>
      <div class="col-sm-3">
        <p><%= flight.arrival.name%></p>
        <p><%= flight.arrival.location%></p>
      </div>
       <div class="col-sm-2">
        <p><%= flight.departure_date%></p>
        <p><%= flight.departure_time%></p>
      </div>
       <div class="col-sm-1">
        <p><%= flight.duration%>hrs</p>
      </div>
      <div class="col-sm-1">
        <%= link_to new_booking_path(:flight => flight.id, :passengers => @seats) do %> <%= image_tag("fly.png") %> <% end %>
      </div>
    </div>
    <% end %>
</div>

