<%= render partial: 'header' %>
<div class="container box">
 <% unless flash['notice'].blank?  %>
  <div class="alert alert-danger search-error" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    <%= flash['notice'] %>
  </div>
  <% end %>
  <div class="search-div">
    <div class="search-head">Search For Flights </div>
       <%= form_tag %>
    <div class="row div-pad-big">
      <div class="col-sm-6">
        <select name="departure_id" class="my-select">
        <% Airport.all.order("name ASC").each do |airport| %>
          <option value="<%= airport.id %>"> <%= airport.name << " " << airport.location %> </option>
        <% end %>
        </select>
      </div>
      <div class="col-sm-6">
        <select name="arrival_id" class="my-select">
        <% Airport.all.order("name ASC").each do |airport| %>
          <option value="<%= airport.id %>"> <%= airport.name << " " << airport.location %> </option>
        <% end %>
        </select>
      </div>
    </div>
    <div class="row div-pad-big">
      <div class="col-sm-6">
        <input id="departure_date" name="date" type="date" class="date-picker"/>
      </div>

      <div class="col-sm-4">
        <span class="my-small-font">Passengers</span>
        <select name="seats" class="my-select">
          <% for i in (1..10) do i %>
            <option> <%= i %> </option>
          <% end %>
        </select>
      </div>
      <div class="col-sm-1">
        <%= submit_tag "Search", class: "btn btn-success", id: "submit-signup" %>
      </div>
    </div>

  </div>
</div>
</div>

