<%= render partial: 'header' %>
<div class="main-div">
  <div class="row bg-image">
  </div>
  <div class="container search">
    <div class="row">
        <div class="col-sm-3"><span class="grey-big">Search For a Flight</span></div>
        <% unless flash['notice'].blank?  %>
        <div class="col-sm-9">

          <div class="error">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <%= flash.now['notice'] %>
          </div>
        </div>
        <% end %>
    </div>
    <div class="row">
      <%= form_tag %>
      <%= render partial: 'partials/departure_select' %>
      <%= render partial: 'partials/arrival_select' %>
      <div class="col-sm-2">
        <div class="div-pad"> Departure date</div>
        <input id="departure_date" name="date" type="date" class="date-picker"/>
      </div>
      <div class="col-sm-2">
        <div class="div-pad"> Passengers</div>
        <select name="seats" class="my-select">
          <% for i in (1..10) do i %>
            <option> <%= i %> </option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="div-pad">
      &nbsp;
    </div>
    <div class="row div-pad">
       <div class="col-sm-12">
       <%= button_tag(type: "submit", class: "btn  orange-button") do %>
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search<% end %>
        </div>
    </div>

  </div>
</div>
