<div class="row my-flight">
    <div class="col-sm-1">
       <p><%= @booking.ref %></p>
    </div>
    <div class="col-sm-1">
       <p><%= @booking.flight.airline %></p>
    </div>
    <div class="col-sm-2">
     <p><%= @booking.flight.departure.name %></p>
     <p><%= @booking.flight.departure.location %></p>
    </div>
    <div class="col-sm-3">
      <p><%= @booking.flight.arrival.name%></p>
      <p><%= @booking.flight.arrival.location%></p>
    </div>
     <div class="col-sm-1">
      <p><%= @booking.flight.departure_date%></p>
      <p><%= @booking.flight.departure_time%></p>
    </div>
     <div class="col-sm-1">
      <p><%= @booking.seats%></p>
    </div>
    <div class="col-sm-1">
      <p><%= @booking.cost%></p>
    </div>
  <% if available?(@booking.flight.departure_date) %>
  <div class="col-sm-1">
    <%= link_to booking_path(@booking.id), method: :delete do %> <span class="large-icon"><span class="glyphicon glyphicon-remove-circle"></span></span> <% end %>
  </div>
  <div class="col-sm-1">
    <%= link_to edit_booking_path(@booking.id) do %> <span class="edit-icon"><span class="glyphicon glyphicon-edit"></span></span> <% end %>
    </div>
  <% end %>
</div>
