
  <div class="flights">
    <% unless flash['success'].blank?  %>
  <div class="alert alert-success success-booking" role="alert">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <span class="sr-only">Success:</span>
    <%= flash['success'] %>
  </div>
  <% end %>
      <h3>PAST BOOKINGS</h3>
      <% @bookings.each do |booking| %>

      <div class="flight-pad">
    </div>
    <div class="row flight-list">
      <div class="col-sm-2">
      <div class="flight-airline">
      <span><%= booking.flight.airline %></span>
      </div>
      </div>
      <div class="col-sm-6">
        <div class="flight-detail">
          <div class="row">
            <div class="col-sm-1">
            <div class="top-down-pad">
            <i class="fa fa-plane"></i>
            </div>
            </div>
            <div class="col-sm-5">
              <div class="top-down-pad">  DEPARTURE </div>
              <div><%= booking.flight.departure.name %></div>
              <div class="top-down-pad">
                <%= link_to booking_path(booking.id), class: "btn orange-button", method: :delete do %> <span class="large-icon"><i class="glyphicon glyphicon-trash"></i></span>
                <% end %>
                <%= link_to edit_booking_path(booking.id), class: "btn orange-button" do %> <span class="large-icon"><i class="glyphicon glyphicon-edit"></i></span>
                <% end %>
              </div>

            </div>
            <div class="col-sm-1">
              <div class="top-down-pad">
              <i class="fa fa-plane arrival"></i>
              </div>
            </div>
            <div class="col-sm-5">
              <div  class="top-down-pad">  ARRIVAL </div>
              <div><%= booking.flight.arrival.name %> </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="flight-time">
        <div class="top-down-pad">  TAKE OFF </div>
          <div><%= booking.flight.departure_date %></div>
          <div><%= booking.flight.departure_time %></div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="flight-time">
        <div class="top-down-pad">  REF: <%= booking.ref %> </div>
          <div>COST: &#x20A6;<%= booking.cost %></div>
          <div>SEATS: <%= booking.seats %></div>
        </div>
      </div>
    </div>
    <% end %>

  </div>

