<%= render partial: 'header' %>
  <div class="container box">
    <div class="row">
      <div class="col s6">
        <div class="row">
          <%= render partial: 'flightinfo' %>
        </div>
      </div>
      <div class="col s6">
      <div class="row header-text">
        <div class="col s6">Name</div>
        <div class="col s4">Email</div>
        <div class="col s2">cabin</div>
      </div>
      <% @passengers.each do |passenger| %>
        <div class="row passenger">
          <div class="col s6"><%= passenger.first_name + " " + passenger.last_name %></div>
          <div class="col s4"><%= passenger.cost %></div>
          <div class="col s2"><%= passenger.cabin %></div>
        </div>
      <% end %>
      <div class="row">
      <div class="col s6">
      <%= @booking.passengers.last.cabin%>
        <%= link_to "Confirm", payment_url(@booking), class: "btn blue" %>
      </div>
      <div class="col s6 push-s4"><span class="header-text">&#x20A6;<%= @booking.cost %></span></div>
      </div>
    </div>
</div>
