<%= render partial: 'header' %>
<div class="container success-box">
  <div align="center">
    <div class="alert alert-success success-booking" role="alert">
    <span class="glyphicon glyphicon-ok-circle"></span>
    Flight successfully booked
    </div>
  </div>
  <div class="row align="center" ">Booking Details</div>
  <div class="row confirm-head">
    <div class="col-sm-3">Ref</div>
    <div class="col-sm-3">Airline</div>
    <div class="col-sm-2">Flight Number</div>
    <div class="col-sm-2">Seats</div>
    <div class="col-sm-2">Total Cost</div>
  </div>
  <div class="row div-pad">
    <div class="col-sm-3"> <%= @booking.ref %> </div>
    <div class="col-sm-3"> <%= @booking.flight.airline %> </div>
    <div class="col-sm-2"> <%= @booking.flight.id %> </div>
    <div class="col-sm-2"> <%= @booking.seats %> </div>
    <div class="col-sm-2"> &#x20A6;<%= @booking.cost %> </div>
  </div>

  <div class="row div-pad">Passenger Details</div>
  <div class="row confirm-head">
    <div class="col-sm-4">Name</div>
    <div class="col-sm-4">Phone</div>
    <div class="col-sm-2">Cabin</div>
    <div class="col-sm-2">Cost</div>
  </div>
  <% @booking.passengers.each do |passenger| %>
  <div class="row passenger-fields">
    <div class="col-sm-4"> <%= passenger.name %> </div>
    <div class="col-sm-4"> <%= passenger.phone %> </div>
    <div class="col-sm-2"> <%= passenger.cabin %> </div>
    <div class="col-sm-2"> &#x20A6;<%= passenger.cost %> </div>
  </div>
  <% end %>
</div>
<%= render partial: 'footer' %>
