<%= render partial: 'header' %>
<div class="main-bg">
  <div class="container sign-up-container">
    <div class="sign-up-header">
      <div class="row">
        <div class="col s12 right">
          <span>SIGN IN</span>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <span>GOOGLE</span>
        </div>
        <div class="col s6">
          <span>FACEBOOK</span>
        </div>
      </div>
    </div>
    <div class="sign-up-box">
      <%= form_tag %>
        <div class="row">
          <div class="col s8">
            <span class="label-font">Email</span>
            <%= email_field_tag :email, "", class: "username-field" %>
          </div>
        </div>
        <div class="row">
          <div class="col s8">
            <span class="label-font">Password</span>
            <%= password_field_tag :password, "", class: "username-field" %>
          </div>
        </div>
        <div class="row">
          <div class="col s8">
          <%= submit_tag "Sign In", class: "sign-up-button"%>
          </div>
        </div>
        <div class="row">
          <div class="col s8">
          <span class="label-font"> Haven't got an account? <%= link_to "Sign Up", new_user_path %> </span>
          </div>
        </div>
    </div>
  </div>
</div>
