<%= render partial: 'header' %>
<div class="main-bg">
   <div class="container sign-up-container">
    <h5 class="center">Sign Up </h5>
      <% unless flash["errors"].nil? %>
        <div class ="row center">
          <% flash["errors"].each do |error| %>
            <span class="big-error"> <%= error %></span>
          <% end %>
        </div>
      <% end %>

      <%= form_for (@user) do |f| %>
          <div class="row">
            <div class="col s12">
              <span class="label-font">Username</span>
              <span class="small-error right" id="password-error"></span>
              <%= f.text_field :username, class: "input-field" %>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <span class="label-font">Email</span>
              <span class="small-error" id="email-error"></span>
              <%= f.email_field :email, class: "input-field" %>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <span class="label-font">Password</span>
              <span class="small-error" id="password-error"></span>
              <%= f.password_field :password, class: "input-field", id: "password" %>
              <div class="col s12 forgot-password">
              <input type="checkbox" id="show-password" />
              <label for="show-password" title="show password" class="label-font">show password</label>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
            <%= f.submit "Sign Up", class: "sign-up-button", id: "submit-signup", disabled: "disabled" %>
            </div>
          </div>
          <div class="row">
            <div class="col s8">
            <span class="label-font"> Already got an account? <%= link_to "Sign In", login_users_path %> </span>
          </div>
        </div>
      <% end %>
  </div>
</div>
