Hello, <%= @username %>

<p class="body-text">You have successful made a booking with ref number <%= @booking.ref %> with <%= link_to "bon-voyage", root_url %> </p>

<p><b>Here are your booking details</b></p>

<b>Ref: </b><%= @booking.ref %><br/>
<b>Airline: </b> <%= @booking.flight.airline %> <br/>
<b>Flight ID: </b><%= @booking.flight.id %><br/>
<b>From: </b> <%= @booking.flight.departure.name %><br/>
<b>To: </b> <%= @booking.flight.arrival.name %><br/>
<b>Seats: </b> <%= @booking.seats %><br/>
<b>Cost:</b> <%= @booking.cost %><br/>

<p> <b>Passenger Details</b> </p>

<% @booking.passengers.each do |passenger| %>
  <b>Name: </b> <%= passenger.name %></br>
  <b>Phone: </b> <%= passenger.phone %><br/>
  <p> &nbsp; </p>
<% end %>
