<div class="col s8">
  <div class="thick-border">
    <div class="row center"><span> Flight Information </span></div>
    <p><span class="bold-text">Flight Number:</span><span class="right"><%= @flight.id %></span></p>
    <p><span class="bold-text">Airline:</span><span class="right"><%= @flight.airline %></span></p>
    <p><span class="bold-text">From:  </span><span class="right"><%= @flight.departure.name %></span></p>
    <p><span class="bold-text">To:</span><span class="right"><%= @flight.arrival.name %></span></p>
    <p><span class="bold-text">Date:  </span><span class="right"><%= @flight.departure_date %></span></p>
    <p><span class="bold-text">Take-off:  </span><span class="right"><%= @flight.departure_time %></span></p>
    <p><span class="bold-text">Economy:</span><span class="right">&#x20A6;<%= @flight.economy %></span></p>
    <p><span class="bold-text">Business:  </span><span class="right">&#x20A6;<%= @flight.business %></span></p>
    <p><span class="bold-text">First:  </span><span class="right">&#x20A6;<%= @flight.first %></span></p>
    <p><span class="bold-text">No of passengers</span><span class="right"><%= @seats %></span></p>
  </div>
</div>
<div class="col s4">

</div>
