<div class="col-sm-8">
  <div class="row flight-detailss">
    <div class="row flight-details-header"><span> FLIGHT INFORMATION </span></div>
    <div class="row flight-details">
      <span class="pull-left">Flight Number:</span><span class="pull-right"><%= @flight.id %></span>
    </div>
    <div class="row flight-details">
      <span class="pull-left">Airline:</span><span class="pull-right"><%= @flight.airline %></span>
    </div>
    <div class="row flight-details">
      <span class="pull-left">From:  </span><span class="pull-right"><%= @flight.departure.name %></span>
    </div>
    <div class="row flight-details">
      <span class="pull-left">To:</span><span class="pull-right"><%= @flight.arrival.name %></span>
    </div>
    <div class="row flight-details">
      <span class="pull-left">Date:  </span><span class="pull-right"><%= @flight.departure_date %></span>
    </div>
    <div class="row flight-details">
      <span class="pull-left">Take-off:  </span><span class="pull-right"><%= @flight.departure_time %></span>
    </div>
    <div class="row flight-details">
      <span class="pull-left">Economy class:</span><span class="pull-right">&#x20A6;<%= @flight.economy %></span>
    </div>
    <div class="row flight-details">
      <span class="pull-left">Business class:  </span><span class="pull-right">&#x20A6;<%= @flight.business %></span>
    </div>
    <div class="row flight-details">
      <span class="pull-left">First class:  </span><span class="pull-right">&#x20A6;<%= @flight.first %></span>
    </div>
  </div>
</div>
