<div class="my-header">
  <div class="header-menu left">
    <ul>
      <%=link_to all_flights_path(:page => 1) do %> <li>All Flights</li> <% end %>
      <%=link_to root_path do %><li>Search</li> <% end %>
      <% unless logged_in? %>
        <%=link_to login_path do %><li> Sign In </li><% end %>
      <% end %>
    </ul>
  </div>
  <div class="header-menu right">
    <ul>
      <% if logged_in? %>
      <li>Welcome &nbsp; <%= @current_user.username %></li>
      <%= link_to logout_path do %><li>Log Out</li><% end %>
      <% end %>
    </ul>
  </div>
</div>
